*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F8F9FA;
}

/* commons */

/* classes */

/* elements */




/* header */

header{
    background-color: white;
    margin: 15px 0;
}



nav{
    display: flex;
}




.logo_nav{
   height:50px;
   margin: 5px 30px 5px 0;
   cursor: pointer;
}

.my_mobile_logo{
    height: 100%;
}

.my_desktop_logo{
    height: 30px;
    margin: 10px 0px 10px 10px;
}

.input_nav{
    width: calc(100% - 90px);
}


/* text area */

.fg--search {
    height: 50px;
    margin: 5px 0;
    position: relative;
    width: 100%;
  }
  
  .fg--search input {
    height: 100%;
    width: 100%;
    padding: 5px 50px;
    display: block;
    background-color: #E5E5E5;
    border: none;
    border-radius: 10px;
  }
  
  .fg--search button {
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 15px;
    z-index: 2;
  }


  
/* button nav container */

.buttons_nav{
    display: flex;
    justify-content: flex-end;
    width: 60px;
    margin: auto 0;
}

.nav_bell_icon{
    color: #FF8F00;
    font-size: 20px;
}

.nav_ul{
    display: flex;
    list-style-type: none;
    margin: auto 0;
}

.my_bell_btn{
    background-color: transparent;
    border: none;
}

.nav_list_item{
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

.dropdown-toggle::after {
    content: none;
}


/* main */

/* main structure */

#main_row{
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
}

aside{
    color:white;
    width: 78px;
    height: 100%;
    background-color: #051E34;
    padding: 20px 20px 20px;
}

#main-col{
    width: calc(100% - 78px);
    height: 100%;
}

/* aside */

.aside_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside_ul{
    padding:0;
    list-style-type: none;
    margin:0;
}

aside li{
    padding: 10px 0 0 10px;
}

.aside_list_item{
    text-decoration: none;
    color: inherit;
}

.aside_list_item:hover{
    color:white;
}

.aside_icon{
    font: 20px;
    width: 30px;
    height: 30px;
}





/* queries */

/* desktop */

@media screen and (min-width: 992px) {
    /* header */

    .buttons_nav{
        width: 150px;
    }

    /* main */

    aside{
        width: 140px;
    }

    #main-col{
        width: calc(100% - 140px);
    }

    aside li:hover{
        background-color: rgba(220, 220, 220, 0.7);
    }
}