*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #F8F9FA;
}

/* commons */

/* classes */

.font_14{
    font-size: 14px;
}

/* elements */

label{
    color: black;
}



/* header */

header{
    background-color: white;
    margin: 10px 0;
}



nav{
    display: flex;
}




.logo_nav{
   height:50px;
   margin: 5px 30px 5px 0;
   cursor: pointer;
}

.my_mobile_logo{
    height: 100%;
}

.my_desktop_logo{
    height: 30px;
    margin: 10px 0px 10px 10px;
}

.input_nav{
    width: calc(100% - 90px);
}


/* text area */

.fg--search {
    height: 50px;
    margin: 5px 0;
    position: relative;
    width: 100%;
  }
  
  .fg--search input {
    height: 100%;
    width: 100%;
    padding: 5px 50px;
    display: block;
    background-color: #E5E5E5;
    border: none;
    border-radius: 10px;
  }
  
  .fg--search button {
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 15px;
    z-index: 2;
  }


  
/* button nav container */

.buttons_nav{
    display: flex;
    justify-content: flex-end;
    width: 60px;
    margin: auto 0;
}

.nav_bell_icon{
    color: #FF8F00;
    font-size: 20px;
}

.nav_ul{
    display: flex;
    list-style-type: none;
    margin: auto 0;
}

.my_bell_btn{
    background-color: transparent;
    border: none;
}

.nav_list_item{
    text-decoration: none;
    color: inherit;
    margin-right: 20px;
}

.dropdown-toggle::after {
    content: none;
}


/* main */

/* main structure */

#main_row{
    height: calc(100vh - 90px);
    width: 100%;
    display: flex;
}

aside{
    color:white;
    width: 78px;
    height: 100%;
    background-color: #051E34;
    padding: 20px 20px 20px;
}

#main_col{
    width: calc(100% - 78px);
    height: 100%;
}

/* aside */

.aside_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside_ul{
    padding:0;
    list-style-type: none;
    margin:0;
}

aside li{
    padding: 10px 0 0 10px;
}

.aside_list_item{
    text-decoration: none;
    color: inherit;
}

.aside_list_item:hover{
    color:white;
}

.aside_icon{
    font: 20px;
    width: 30px;
    height: 30px;
}

/* top-bar section */

.top_bar{
    background-color: #1B72E8;
    width: 100%;
    color: white;
    padding: 20px 30px 20px 20px;
}

.number_of_students{
    font-size: 24px;
    margin:0;
}

.my_offcanvas_btn{
    background-color: #1B72E8;
    border: 1px solid white;
    margin-left: 15px;
}

.new_student_container{
    display: flex;
    align-items: center;
}

.boolean_app_header{
    display: flex;
    align-items: center;
}

.boolean_app_header h2{
    margin-right: 5px;
    font-weight: 400;
}

.boolean_app_container{
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.boolean_app_angles{
    margin: 0 5px;
}

.boolean_app_ul{
    width: calc(100% - 100px);
    flex-wrap: wrap;
    gap: 10px 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.boolean_app_ul li{
    margin-right: 10px;
}

.top_bar_btn{
    background-color: #165BBA;
    border-radius: 100px;
    padding: 5px 10px;
    cursor: pointer;
}

.top_bar_plus_btn{
    background-color: #165BBA;
    border-radius: 100px;
    padding: 5px 15px;
    cursor: pointer; 
}

.offcanvas_width{
    width: 800px !important;
    max-width: calc(100% - 78px);
}

.my_submit_btn{
    color:white;
    background-color: #0B5ED7;
    border:none;
    border-radius: 5px;
    margin: 10px 20px 10px 10px;
    height:40px;
    width: 80px;
}


.my_reset_btn{
    background-color: #FFC107;
    border:none;
    border-radius: 5px;
    margin: 10px 20px 10px 10px;
    height:40px;
    width: 80px;
}

/* queries */

/* desktop */

@media screen and (min-width: 992px) {
    /* header */

    .buttons_nav{
        width: 150px;
    }

    /* main */

    aside{
        width: 140px;
    }

    #main-col{
        width: calc(100% - 140px);
    }

    aside li:hover{
        background-color: rgba(220, 220, 220, 0.7);
    }

    .new_student_container{
        justify-content: flex-end;
    }

    .font_14{
        font-size: 16px;
    }
}